root = true

# editor agnostic styles
indent_size = 4
tab_width = 4
indent_style = tab
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
# https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/new-operator#constructor-invocation
# disable analyzers for unsupported C# 9.0 features in unity
dotnet_diagnostic.IDE0017.severity = none
dotnet_diagnostic.IDE0028.severity = none
dotnet_diagnostic.IDE0090.severity = none

# csharp_style_pattern_local_over_anonymous_function
dotnet_diagnostic.IDE0039.severity = none
